.docx-icon {
  color: #2b579a;
  background-color: aliceblue;
  border: 1px solid #2b579a;
  border-radius: 4px;
  padding: 2px;
}


.bookmark-container {
  display: inline-flex;
  align-items: center;
}

.bookmark-icon {
  margin-right: 8px;
  /* Adjust the spacing as needed. Next change size */
  margin-bottom: 5px;
  font-size: 24px;
  /* Increase the font size to make the icon larger. */
}

.greyed-out {
  color: #c0c0c0;
}

.pdf-icon {
  color: #d80303be;
  background-color: rgb(255, 238, 233);
  border: 1px solid #d80303be;
  border-radius: 4px;
  padding: 4px;
}

.section-icon {
  color: #12a804;
  background-color: #ecffea;
  border: 1px solid #12a804;
  border-radius: 4px;
  padding: 2px;
}

.section {
  border: 1px solid;
  border-radius: 5px;
}

.file-not-found {
  border: 2px solid #d803034b;
  border-radius: 5px;
}

.file-found {
  border: 2px solid #12a804;
  border-radius: 5px;
}

.docx-template {
  /* border: 2px solid #2b579a9c; */
  border-radius: 5px;
  margin-bottom: 1px;
}

.template-variable {
  border: 1px solid #8888889c;
  border-radius: 5px;
  margin: 5px;
}

.green {
  color: #12a804;
}

.docx-header .header-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.docx-header .header-content>div,
.docx-header .header-content>span,
.docx-header .header-content>.form-check {
  margin-bottom: 0.5rem;
}

.docx-icon {
  display: flex;
  align-items: center;
}

.docx-icon .fa-file-word {
  /* margin-right: 0.5rem; */
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.add-elmnt-btn {
  margin: 3px;
  margin-top: 1px;
}

.add-elmnt {
  /* Initial state: hidden and thin */
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.parent-element {
  min-height: 20px;
  transition: all 0.1s ease;
}

.parent-element:hover .add-elmnt {
  /* Hover state: visible and expanded */
  max-height: 100px; /* Adjust this to the desired regular height */
  margin-top: 10px;
  margin-bottom: 10px;
  visibility: visible;
  opacity: 1;
}

.narrow-input {
  width: 10%;
}

.wide-input {
  width: 20%;
}

.filename {
  font-size: 0.8rem;
  color: #2e2e2e;
  font-weight: bold;
}

.x {
  height: 30px;
  width: 30px;
}

.header-top > .x {
  margin-right: 10px
}

.section-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.section-header .header-top .x {
  margin-left: auto;
}

.section-header .base-directory {
  display: flex;
  align-items: center;
}

.section-header .base-directory p {
  margin: 0;
  margin-right: 10px; /* Adjust spacing as needed */
}

* {
  transition: all 0.3s ease;
  font-family: 'Roboto', sans-serif;
}


.floating-buttons {
  position: fixed;
  top: 10%;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
}


.zoom-wrapper {
  transform-origin: top center;
}


.zoom-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
 }
